/*
 * Empty Stylesheet file.
 */


.button_header{
        
        -fx-background-color:  #FFB300;
        -fx-cursor: hand;
    }
    
    .buttons,
    .comboBox{

        -fx-background-color:  #ECF0F1;
        -fx-cursor: hand;
        -fx-border-color: black;
        -fx-border-radius: 10px;
        -fx-cursor: hand;
    }
        

